@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
}
html body {
  font-family: poppins, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #e0e9f0;
  color: #21204A;
  font-size: 16rem;
}
html body aside {
  position: fixed;
}
html body main {
  height: 100vh;
  width: 1092px;
  float: right;
}
html body main section {
  display: grid;
  place-items: center;
  padding: 50px;
}
html body main section article {
  width: 488px;
}
html body main section article .connect-wallet-heading {
  margin-bottom: 48px;
}
html body main section article .connect-wallet-heading h1 {
  font-size: 30rem;
}
html body main section article .connect-wallet-main .main-crypto-title-btn {
  border-bottom: 2px solid #a6b8cf;
}
html body main section article .connect-wallet-main .main-crypto-title-btn button {
  background-color: transparent;
  border: 0;
  font-family: poppins, sans-serif;
  padding: 5px 20px 5px 0;
  font-size: 18rem;
}
html body main section article .connect-wallet-main .crypto-group div {
  width: 488px;
  height: 48px;
  border: 1px solid #a6b8cf;
  border-radius: 10px;
  margin: 12px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
html body main section article .connect-wallet-main .crypto-group div img {
  margin-right: 10px;
}
html body main section article .connect-wallet-main .show-more-btn {
  color: #11315B;
  text-decoration: none;
  display: inline-block;
  width: 488px;
  height: 48px;
  border: 1px solid #a6b8cf;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-weight: 800;
  margin-top: 24px;
}
html body main section article .connect-wallet-main .go-back-btn {
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  position: absolute;
  right: 100px;
  color: white;
  background-color: #21204A;
}
html body main section article .connect-wallet-main .go-back-btn .fa-arrow-left {
  margin-right: 10px;
}
html body #sign-up-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.548);
}
html body #sign-up-overlay form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 480px;
  height: 494px;
  margin: 90px auto;
}
html body #sign-up-overlay form .fill-info {
  text-align: center;
  margin: 24px;
  font-size: 15rem;
  color: #476285;
}
html body #sign-up-overlay form #login-input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #a6b8cf;
  margin: 8px 0;
  padding: 0 15px;
}
html body #sign-up-overlay form span {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
html body #sign-up-overlay form span input {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
html body #sign-up-overlay form span p {
  color: #6E84AB;
  font-size: 14rem;
}
html body #sign-up-overlay form button {
  width: 100%;
  height: 48px;
  background-color: #BDCADB;
  border: 0;
  border-radius: 10px;
  font-size: 18rem;
  color: white;
}
html body #sign-up-overlay form .disconnect-btn {
  width: 100%;
  height: 48px;
  text-decoration: none;
  color: #11315B;
  border: 1px solid #BDCADB;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18rem;
  margin-top: 16px;
}
html body #wallet-required {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.548);
}
html body #wallet-required section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 480px;
  height: 394px;
  margin: 90px auto;
  position: relative;
}
html body #wallet-required section .fa-close {
  position: absolute;
  right: 20px;
  font-size: 25rem;
  color: #476285;
}
html body #wallet-required section img {
  margin: 32px 0 20px 0;
}
html body #wallet-required section p {
  text-align: center;
  margin: 24px;
  font-size: 15rem;
  color: #476285;
}
html body #wallet-required section #sign-in-btn {
  width: 100%;
  width: 100%;
  height: 48px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(to right, #F906F9, #0698F9);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18rem;
  margin-top: 16px;
  border: 0;
}

@media screen and (min-width: 996px) and (max-width: 1200px) {
  html {
    font-size: 1px;
  }
  html body {
    font-family: poppins, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #e0e9f0;
    color: #21204A;
    font-size: 16rem;
  }
  html body aside {
    position: fixed;
  }
  html body main {
    height: 100vh;
    width: 50%;
    margin-right: 100px;
  }
  html body main section {
    display: grid;
    place-items: center;
    padding: 50px 0 0 0;
  }
  html body main section article {
    width: 488px;
  }
  html body main section article .connect-wallet-heading {
    margin-bottom: 48px;
  }
  html body main section article .connect-wallet-heading h1 {
    font-size: 30rem;
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn {
    border-bottom: 2px solid #a6b8cf;
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn button {
    background-color: transparent;
    border: 0;
    font-family: poppins, sans-serif;
    padding: 5px 20px 5px 0;
    font-size: 18rem;
  }
  html body main section article .connect-wallet-main .crypto-group div {
    width: 488px;
    height: 48px;
    border: 1px solid #a6b8cf;
    border-radius: 10px;
    margin: 12px 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  html body main section article .connect-wallet-main .crypto-group div img {
    margin-right: 10px;
  }
  html body main section article .connect-wallet-main .show-more-btn {
    color: #11315B;
    text-decoration: none;
    display: inline-block;
    width: 488px;
    height: 48px;
    border: 1px solid #a6b8cf;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-weight: 800;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
  html body aside {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100px;
  }
  html body aside img {
    width: 100%;
    height: 100vh;
  }
  html body main {
    height: 100vh;
    width: 100%;
    float: right;
    color: white;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn {
    border-bottom: 2px solid #a6b8cf;
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn button {
    background-color: transparent;
    border: 0;
    font-family: poppins, sans-serif;
    padding: 5px 5px 5px 0;
    font-size: 14rem;
    color: white;
  }
  html body main section article .connect-wallet-main .show-more-btn {
    color: white;
  }
}
@media screen and (min-width: 591px) and (max-width: 767px) {
  html body aside {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100px;
  }
  html body aside img {
    width: 100%;
    height: 100vh;
  }
  html body main {
    height: 100vh;
    width: 100%;
    float: right;
    color: white;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn {
    border-bottom: 2px solid #a6b8cf;
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn button {
    background-color: transparent;
    border: 0;
    font-family: poppins, sans-serif;
    padding: 5px 5px 5px 0;
    font-size: 14rem;
    color: white;
  }
  html body main section article .connect-wallet-main .show-more-btn {
    color: white;
  }
  html body main section article .connect-wallet-main .go-back-btn {
    right: 60px;
    color: #21204A;
    background-color: white;
  }
}
@media screen and (max-width: 590px) {
  html body aside {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100px;
  }
  html body aside img {
    width: 100%;
    height: 100vh;
  }
  html body main {
    height: 100vh;
    width: 100%;
    float: right;
    color: white;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  html body main section {
    display: grid;
    place-items: center;
    padding: 30px;
  }
  html body main section article {
    width: 100%;
  }
  html body main section article .connect-wallet-heading {
    margin-bottom: 28px;
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn {
    border-bottom: 2px solid #a6b8cf;
  }
  html body main section article .connect-wallet-main .main-crypto-title-btn button {
    background-color: transparent;
    border: 0;
    font-family: poppins, sans-serif;
    padding: 5px 5px 5px 0;
    font-size: 14rem;
    color: white;
  }
  html body main section article .connect-wallet-main .crypto-group div {
    width: 100%;
    height: 48px;
    border: 1px solid #a6b8cf;
    border-radius: 10px;
    margin: 12px 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  html body main section article .connect-wallet-main .crypto-group div img {
    margin-right: 10px;
  }
  html body main section article .connect-wallet-main .show-more-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 48px;
    border: 1px solid #a6b8cf;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-weight: 800;
    margin-top: 24px;
  }
  html body main section article .connect-wallet-main .go-back-btn {
    bottom: 30px;
    right: 10px;
    color: #21204A;
    background-color: white;
  }
  html body #sign-up-overlay form {
    width: 320px;
  }
  html body #wallet-required section {
    width: 320px;
  }
}/*# sourceMappingURL=connectWallet.css.map */