@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
}
html body {
  font-size: 16rem;
  font-family: poppins, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #21204A;
  background-color: #e0e9f0;
}
html body header {
  background-color: #21204A;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 11;
}
html body header .logo {
  font-size: 28rem;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  padding: 0 10px;
  color: white;
}
html body header nav {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header nav div {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
html body header nav .nav-list {
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
html body header nav .nav-list .dropdown .dropdown-content {
  position: absolute;
  top: 100px;
  list-style-type: none;
  display: none;
  border: 1px solid #a6b8cf;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7411764706);
  padding: 5px;
}
html body header nav .nav-list .dropdown .dropdown-content li {
  padding: 10px 20px;
}
html body header nav .nav-list .dropdown .dropdown-content li a {
  text-decoration: none;
  color: #a6b8cf;
}
html body header nav .nav-list .dropdown .dropdown-content li i {
  margin-right: 10px;
}
html body header nav .nav-list .dropdown .dropdown-content .li-bottom {
  border-bottom: 1px solid #a6b8cf;
}
html body header nav .nav-list .dropdown .showmarket-dropdown {
  display: block;
}
html body header nav .nav-link {
  text-decoration: none;
  color: #a6b8cf;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}
html body header nav .nav-link:hover {
  background-color: rgba(71, 98, 133, 0.7411764706);
}
html body header nav .toggle-dot {
  text-decoration: none;
  color: #a6b8cf;
  height: 30px;
  font-size: 30rem;
  padding-bottom: 60px;
}
html body header nav .fa-magnifying-glass {
  padding: 5px 10px;
}
html body header nav #search-menu {
  display: none;
  position: relative;
  left: 0;
  height: 1200px;
  width: 1345px;
  background-color: rgba(0, 0, 0, 0.4235294118);
}
html body header nav #search-menu #search-bar {
  position: absolute;
  left: 100px;
  top: 100px;
  height: 50px;
  width: 1150px;
  border-radius: 10px;
  border: 0;
}
html body header nav .connect-wallet-btn {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  margin: 0 20px;
  color: #a6b8cf;
}
html body header nav .fa-bars {
  color: white;
  font-size: 30rem;
  display: none;
}
html body main .list-item {
  display: flex;
  padding: 100px;
}
html body main .list-item .list-item-left {
  width: 35%;
  margin-top: 80px;
}
html body main .list-item .list-item-left .list-item-flex-box {
  padding: 10px;
  margin-top: 20px;
  width: 340px;
  background-color: #f0f4f7;
  border-radius: 10px;
}
html body main .list-item .list-item-left .list-item-flex-box img {
  width: 320px;
  height: 200px;
  border-radius: 10px;
}
html body main .list-item .list-item-left .list-item-flex-box .price-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #e0e9f0;
  border-radius: 10px;
}
html body main .list-item .list-item-left .list-item-flex-box h2 {
  font-size: 20rem;
}
html body main .list-item .list-item-left .list-item-flex-box p {
  color: #a6b8cf;
}
html body main .list-item .list-item-right {
  width: 65%;
}
html body main .list-item .list-item-right h1 {
  margin-bottom: 28px;
  font-size: 40rem;
  height: 47px;
}
html body main .list-item .list-item-right .fix-price-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
}
html body main .list-item .list-item-right .fix-price-flex-container .fix-price-flex-item {
  background-color: #21204A;
  color: white;
  width: 164px;
  height: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 30px;
}
html body main .list-item .list-item-right .top-sale-price .top-sale-price-top select {
  height: 48px;
  width: 82px;
  border-radius: 10px;
  border: 2px solid #a6b8cf;
}
html body main .list-item .list-item-right .top-sale-price .top-sale-price-top input[type=text] {
  width: 466px;
  height: 48px;
  border-radius: 10px;
  outline: 0;
  border: 2px solid #a6b8cf;
  padding: 10px;
}
html body main .list-item .list-item-right .top-sale-price .top-sale-price-bottom {
  margin-top: 20px;
}
html body main .list-item .list-item-right .top-sale-price .top-sale-price-bottom input {
  width: 556px;
  height: 48px;
  outline: 0;
  border: 2px solid #a6b8cf;
  padding: 10px;
  border-radius: 10px;
  display: block;
}
html body main .list-item .list-item-right .top-sale-price .top-sale-price-bottom button {
  width: 198px;
  height: 48px;
  background-image: linear-gradient(to right, #0698F9, #F906F9);
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 20rem;
  margin-top: 40px;
}

@media screen and (min-width: 996px) and (max-width: 1200px) {
  html {
    font-size: 1px;
  }
  html body {
    max-width: 1024x;
    font-size: 15rem;
  }
  html body header {
    padding: 0 50px;
    height: 80px;
  }
  html body header nav {
    width: 700px;
  }
  html body header nav div {
    width: 150px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body main .list-item {
    padding: 20px;
  }
  html body main .list-item .list-item-left {
    width: 40%;
  }
  html body main .list-item .list-item-right {
    width: 60%;
  }
  html body main .list-item .list-item-right .fix-price-flex-container .fix-price-flex-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow: none;
    max-width: 995px;
    font-size: 15rem;
  }
  html body header {
    padding: 0 30px;
    height: 80px;
  }
  html body header nav {
    width: 300px;
  }
  html body header nav .nav-link {
    display: none;
  }
  html body header nav div {
    width: 200px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body header nav .fa-bars {
    display: block;
    margin-left: 10px;
  }
  html body main .list-item {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  html body main .list-item .list-item-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  html body main .list-item .list-item-left h3 {
    font-size: 30rem;
  }
  html body main .list-item .list-item-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  html body main .list-item .list-item-right h1 {
    font-size: 30rem;
    margin-bottom: 15px;
  }
  html body main .list-item .list-item-right .fix-price-flex-container {
    display: flex;
    justify-content: center;
  }
  html body main .list-item .list-item-right .fix-price-flex-container .fix-price-flex-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 591px) and (max-width: 767px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow: none;
    max-width: 995px;
    font-size: 15rem;
  }
  html body header {
    padding: 0 20px;
    height: 80px;
  }
  html body header nav {
    width: 300px;
  }
  html body header nav .nav-link {
    display: none;
  }
  html body header nav div {
    width: 200px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body header nav .fa-bars {
    display: block;
    margin-left: 10px;
  }
  html body main .list-item {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  html body main .list-item .list-item-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  html body main .list-item .list-item-left h3 {
    font-size: 30rem;
  }
  html body main .list-item .list-item-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .list-item .list-item-right .fix-price-flex-container {
    display: flex;
    justify-content: center;
  }
  html body main .list-item .list-item-right .fix-price-flex-container .fix-price-flex-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 180px) and (max-width: 590px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow: none;
    max-width: 995px;
    font-size: 15rem;
  }
  html body header {
    padding: 0 20px;
    height: 80px;
  }
  html body header nav {
    width: 300px;
  }
  html body header nav .nav-link {
    display: none;
  }
  html body header nav div {
    width: 200px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body header nav .fa-bars {
    display: block;
    margin-left: 10px;
  }
  html body main .list-item {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  html body main .list-item .list-item-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  html body main .list-item .list-item-left h3 {
    font-size: 30rem;
  }
  html body main .list-item .list-item-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  html body main .list-item .list-item-right h1 {
    font-size: 30rem;
    margin-bottom: 15px;
  }
  html body main .list-item .list-item-right .fix-price-flex-container {
    display: flex;
    justify-content: center;
  }
  html body main .list-item .list-item-right .fix-price-flex-container .fix-price-flex-item {
    margin-bottom: 20px;
  }
  html body main .list-item .list-item-right .top-sale-price .top-sale-price-top input[type=text] {
    width: 366px;
  }
  html body main .list-item .list-item-right .top-sale-price .top-sale-price-bottom {
    margin-top: 20px;
  }
  html body main .list-item .list-item-right .top-sale-price .top-sale-price-bottom input {
    width: 300px;
  }
}/*# sourceMappingURL=listForSale.css.map */