reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {

    body {

        .showMobmarket-dropdown{
            display: block;
        }
    }
}