//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


//variables
$bg-color: #21204A;
$font-color: white;
$font-color2: #8ca0b9;
$font-color3: #21204a;
$main-bg-color: #e0e9f0;
$inside-flex-item-bg-color: #f0f4f7;
$font-type: poppins, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

html {
    font-size: 1px;

    body {
        font-size: 16rem;
        color: $font-color;
        background-color: $main-bg-color;
        font-family: poppins, "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

        // This is for the search bar
        #overlay {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 15;
            height: 100vh;
            width: 100vw;
            background-color: #00000093;
            padding: 0 100px;

            form {
                position: relative;
                top: 100px;

                #search-bar {
                    position: absolute;
                    top: 40px;
                    height: 50px;
                    width: 100%;
                    border-radius: 10px;
                    border: 0;
                    padding: 0 50px;
                    display: block;
                    outline: none;
                    // background-image: url("../images/index/search-icon.png");
                    // background-repeat: no-repeat;
                }

                span {
                    position: absolute;
                    font-size: 20px;
                    z-index: 20;
                    right: 0;
                    top: 0;
                    cursor: pointer;

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }

        //Thos is for the mobile nav
        #mobile-menu2 {
            display: none;
        }

        header {
            background-color: $bg-color;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            position: sticky;
            top: 0;
            z-index: 11;

            .logo {
                font-size: 28rem;
                font-weight: bold;
                border: 3px solid white;
                border-radius: 10px;
                padding: 0 10px;
            }

            nav {
                // position: relative;
                // border: 1px solid white;
                width: 900px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-list {
                    list-style-type: none;
                    width: 500px;
                    display: flex;
                    justify-content: space-between;

                    .dropdown {

                        #marketplace-dropdown {
                            cursor: pointer;
                        }

                        .dropdown-content {
                            position: absolute;
                            top: 100px;
                            list-style-type: none;
                            display: none;
                            border: 1px solid $font-color2;
                            border-radius: 15px;
                            background-color: #000000bd;
                            padding: 5px;


                            li {
                                padding: 10px 20px;

                                a {
                                    font-size: 15rem;
                                    text-decoration: none;
                                    color: $font-color2;

                                    &:hover {
                                        color: white;
                                    }
                                }

                                i {
                                    margin-right: 10px;
                                }

                            }

                            .li-bottom {
                                border-bottom: 1px solid $font-color2;

                            }
                        }

                        .showmarket-dropdown {
                            display: block;
                        }

                    }
                }

                .nav-link {
                    text-decoration: none;
                    color: $font-color2;
                    border-radius: 10px;
                    padding: 5px 20px;

                    &:hover {
                        background-color: #476285bd;
                        // border: 1px solid #8897ac;
                    }
                }

                .toggle-dot {
                    text-decoration: none;
                    color: $font-color2;
                    height: 30px;
                    font-size: 30rem;
                    padding-bottom: 60px;
                    // border: 1px solid white;
                }

                .fa-magnifying-glass {
                    padding: 5px 10px;
                    cursor: pointer;
                }

                .connect-wallet-btn {
                    border: 2px solid white;
                    border-radius: 10px;
                    padding: 10px;
                    text-decoration: none;
                    color: $font-color2;
                }

                .fa-bars {
                    font-size: 30rem;
                    display: none;
                    cursor: pointer;
                }
            }
        }

        main {
            padding: 40px 100px;
            color: $bg-color;

            .dp-cat {
                display: flex;

                .info {
                    margin-top: 75px;
                    width: 30%;
                    padding-right: 30px;

                    h3 {
                        margin-bottom: 16px;
                    }

                    p {
                        color: $font-color2;
                    }
                }

                .profile-photo-upload {
                    width: 47%;

                    h1 {
                        font-size: 35px;
                        margin-bottom: 20px;
                    }

                    .choose-img {
                        display: flex;
                        margin-top: 16px;

                        .dp-placeholder {
                            display: inline-block;
                            width: 79px;
                            height: 79px;
                            border-radius: 50%;
                            flex-shrink: 0;
                            margin-right: 20px;
                            background-image: linear-gradient(to right, #F906F9, #0698F9);
                        }

                        .file-explorer {
                            width: initial;
                            border: 0;
                            padding: 0;
                            border-radius: 0;
                        }
                    }

                    input {
                        width: 100%;
                        height: 48px;
                        background-color: transparent;
                        padding: 10px 20px;
                        outline: none;
                        border-radius: 10px;
                        border: 2px solid $font-color2;
                        font-family: poppins, sans-serif;
                        margin-bottom: 32px;
                    }

                    textarea {
                        width: 100%;
                        background-color: transparent;
                        padding: 10px 20px;
                        border-radius: 10px;
                        border: 2px solid $font-color2;
                        outline: none;
                        font-family: poppins, sans-serif;
                        margin-bottom: 64px;
                    }

                    .social-links {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        button {
                            width: 10%;
                            height: 48px;
                            background-color: transparent;
                            padding: 10px 20px;
                            border-radius: 10px;
                            border: 2px solid $font-color2;
                            outline: none;
                            font-family: poppins, sans-serif;

                        }

                        select {
                            width: 44.5%;
                            height: 48px;
                            background-color: transparent;
                            padding: 10px 20px;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            border: 2px solid $font-color2;
                            outline: none;
                            font-family: poppins, sans-serif;
                        }

                        input {
                            width: 44.5%;
                            height: 48px;
                            border-radius: 0;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            margin-bottom: 0;
                        }
                    }

                    .save-btn {
                        display: block;
                        width: 160px;
                        height: 48px;
                        border-radius: 10px;
                        background-color: #21204A;
                        color: white;
                        border: 0;
                        font-family: $font-type;
                        margin-top: 64px;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 996px) and (max-width: 1200px) {
    html {
        font-size: 1px;

        body {
            max-width: 1024x;
            font-size: 15rem;

            #mobile-menu2 {
                display: none;
            }

            header {
                padding: 0 50px;
                height: 80px;

                nav {
                    // border: 1px solid white;
                    width: 700px;

                    div {
                        width: 250px;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            #mobile-menu2 {
                height: 100vh;
                width: 300px;
                background-color: $main-bg-color;
                position: fixed;
                z-index: 29;
                right: 0;
                display: none;

                #close-btn {
                    font-size: 20rem;
                    color: red;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    .fa-close {
                        margin-right: 5px;
                    }
                }

                .mobile-menu-content {
                    padding-top: 30px;
                    list-style-type: none;

                    .mobile-menu-links {
                        font-size: 20rem;
                        text-decoration: none;
                        color: $font-color3;
                        width: 100%;
                        height: 70px;
                        padding: 5px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #476285bd;
                            color: white;
                        }

                    }

                    .dropdown {
                                cursor: pointer;

                                .dropdown-content{
                                    display: none;
                                    list-style: none;

                                    a{
                                        text-decoration: none;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $font-color3;
                                        width: 100%;

                                        i{
                                            margin-right: 15px;
                                        }

                                        &:hover {
                                            background-color: #476285bd;
                                            color: white;
                                        }
                                    }
                                }
                                .showMobmarket-dropdown{
                                    display: block;
                                }
                    }
                }
            }

            header {
                padding: 0 30px;
                height: 80px;

                nav {
                    width: 500px;

                    .nav-link {
                        display: none;
                    }

                    div {
                        width: 200px;
                        align-items: center;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                        margin: 0 10px;
                    }

                    .fa-bars {
                        display: block;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }

            main {
                padding: 40px;
                color: $bg-color;

                h1 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .dp-cat {
                    display: flex;

                    .info {
                        width: 30%;
                        padding-right: 30px;

                        h3 {
                            margin-bottom: 16px;
                        }

                        p {
                            color: $font-color2;
                        }
                    }

                    .profile-photo-upload {
                        width: 460px;

                        h3 {
                            margin-bottom: 16px;
                        }

                        div {
                            display: flex;
                            margin-bottom: 32px;

                            .dp-placeholder {
                                display: inline-block;
                                width: 79px;
                                height: 79px;
                                border-radius: 50%;
                                flex-shrink: 0;
                                margin-right: 20px;
                                background-image: linear-gradient(to right, #F906F9, #0698F9);
                            }
                        }

                        textarea {
                            width: 460px;
                            background-color: transparent;
                            padding: 10px 20px;
                            border-radius: 10px;
                            border: 2px solid $font-color2;
                            outline: none;
                            font-family: poppins, sans-serif;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 591px) and (max-width: 767px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            font-size: 15rem;

            #overlay {
                padding: 0 50px;
            }

            #mobile-menu2 {
                height: 100vh;
                width: 300px;
                background-color: $main-bg-color;
                position: fixed;
                z-index: 29;
                right: 0;
                display: none;

                #close-btn {
                    font-size: 20rem;
                    color: red;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    .fa-close {
                        margin-right: 5px;
                    }
                }

                .mobile-menu-content {
                    padding-top: 30px;
                    list-style-type: none;

                    .mobile-menu-links {
                        font-size: 20rem;
                        text-decoration: none;
                        color: $font-color3;
                        width: 100%;
                        height: 70px;
                        padding: 5px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #476285bd;
                            color: white;
                        }

                    }

                    .dropdown {
                                cursor: pointer;

                                .dropdown-content{
                                    display: none;
                                    list-style: none;

                                    a{
                                        text-decoration: none;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $font-color3;
                                        width: 100%;

                                        i{
                                            margin-right: 15px;
                                        }

                                        &:hover {
                                            background-color: #476285bd;
                                            color: white;
                                        }
                                    }
                                }
                                .showMobmarket-dropdown{
                                    display: block;
                                }
                    }
                }
            }

            header {
                padding: 0 20px;
                height: 80px;

                nav {
                    width: 500px;

                    .nav-link {
                        display: none;
                    }

                    div {
                        width: 180px;
                        align-items: center;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                        margin: 0 10px;
                    }

                    .fa-bars {
                        display: block;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }

            main {
                padding: 40px;
                color: $bg-color;

                h1 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .dp-cat {

                    .profile-photo-upload {
                        width: 400px;

                        textarea {
                            width: 400px;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: 180px) and (max-width: 590px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            font-size: 15rem;


            #overlay {
                padding: 0 20px;
            }

            #mobile-menu2 {
                height: 100vh;
                width: 300px;
                background-color: $main-bg-color;
                position: fixed;
                z-index: 29;
                right: 0;
                display: none;

                #close-btn {
                    font-size: 20rem;
                    color: red;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    .fa-close {
                        margin-right: 5px;
                    }
                }

                .mobile-menu-content {
                    padding-top: 30px;
                    list-style-type: none;

                    .mobile-menu-links {
                        font-size: 20rem;
                        text-decoration: none;
                        color: $font-color3;
                        width: 100%;
                        height: 70px;
                        padding: 5px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #476285bd;
                            color: white;
                        }

                    }

                    .dropdown {
                                cursor: pointer;

                                .dropdown-content{
                                    display: none;
                                    list-style: none;

                                    a{
                                        text-decoration: none;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $font-color3;
                                        width: 100%;

                                        i{
                                            margin-right: 15px;
                                        }

                                        &:hover {
                                            background-color: #476285bd;
                                            color: white;
                                        }
                                    }
                                }
                                .showMobmarket-dropdown{
                                    display: block;
                                }
                    }
                }
            }

            header {
                padding: 0 10px;
                height: 80px;

                nav {
                    width: 250px;

                    .nav-link {
                        display: none;
                    }

                    div {
                        width: 200px;
                        align-items: center;
                    }

                    .fa-bars {
                        display: block;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }

            main {
                padding: 10px;
                color: $bg-color;

                h1 {
                    // font-size: 26rem;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .dp-cat {
                    flex-direction: column;
                    margin-top: 10px;

                    .info {
                        display: none;

                        h3 {
                            margin-bottom: 8px;
                        }

                        p {
                            color: $font-color2;
                        }
                    }

                    .profile-photo-upload {
                        width: 100%;

                        div {
                            display: flex;
                            margin-bottom: 32px;

                            .dp-placeholder {
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                flex-shrink: 0;
                                margin-right: 20px;
                                background-image: linear-gradient(to right, #F906F9, #0698F9);
                            }
                        }

                        textarea {
                            width: 100%;
                        }
                    }

                }
            }
        }
    }
}