//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


//variables
$bg-color: #21204A;
$font-color: white;
$font-color2: #a6b8cf;
$font-color3: #21204a;
$main-bg-color: #e0e9f0;
$inside-flex-item-bg-color: #f0f4f7;
$font-type: poppins, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

html {
    font-size: 1px;

    body {
        font-size: 16rem;
        color: $font-color;
        background-color: $main-bg-color;
        font-family: $font-type;

        // This is for the search bar
        #overlay {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 15;
            height: 100vh;
            width: 100vw;
            background-color: #00000093;
            padding: 0 100px;

            form {
                position: relative;
                top: 100px;

                #search-bar {
                    position: absolute;
                    top: 40px;
                    height: 50px;
                    width: 100%;
                    border-radius: 10px;
                    border: 0;
                    padding: 0 50px;
                    display: block;
                    outline: none;
                    // background-image: url("../images/index/search-icon.png");
                    // background-repeat: no-repeat;
                }

                span {
                    position: absolute;
                    font-size: 20px;
                    z-index: 20;
                    right: 0;
                    top: 0;
                    cursor: pointer;

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }

        //Thos is for the mobile nav
        #mobile-menu2 {
            display: none;
        }

        header {
            background-color: $bg-color;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            position: sticky;
            top: 0;
            z-index: 11;

            .logo {
                font-size: 28rem;
                font-weight: bold;
                border: 3px solid white;
                border-radius: 10px;
                padding: 0 10px;
            }

            nav {
                // position: relative;
                // border: 1px solid white;
                width: 900px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-list {
                    list-style-type: none;
                    width: 500px;
                    display: flex;
                    justify-content: space-between;

                    .dropdown {

                        #marketplace-dropdown {
                            cursor: pointer;
                        }

                        .dropdown-content {
                            position: absolute;
                            top: 100px;
                            list-style-type: none;
                            display: none;
                            border: 1px solid $font-color2;
                            border-radius: 15px;
                            background-color: #000000bd;
                            padding: 5px;


                            li {
                                padding: 10px 20px;

                                a {
                                    font-size: 15rem;
                                    text-decoration: none;
                                    color: $font-color2;

                                    &:hover{
                                        color: white;
                                    }
                                }

                                i {
                                    margin-right: 10px;
                                }

                            }

                            .li-bottom {
                                border-bottom: 1px solid $font-color2;

                            }
                        }

                        .showmarket-dropdown {
                            display: block;
                        }

                    }
                }

                .extra-dropdown {
                    .extra-dropdown-content {
                        position: absolute;
                        top: 100px;
                        right: 350px;
                        list-style-type: none;
                        display: none;
                        border: 1px solid $font-color2;
                        border-radius: 15px;
                        background-color: #000000bd;
                        padding: 5px;


                        li {
                            padding: 10px 20px;

                            a {
                                font-size: 15rem;
                                text-decoration: none;
                                color: $font-color2;

                                &:hover{
                                    color: white;
                                }
                            }

                            i {
                                margin-right: 10px;
                            }

                        }

                        .li-bottom {
                            border-bottom: 1px solid $font-color2;

                        }
                    }

                    .showextra-dropdown {
                        display: block;
                    }

                }

                .nav-link {
                    text-decoration: none;
                    color: $font-color2;
                    border-radius: 10px;
                    padding: 5px 20px;

                    &:hover {
                        background-color: #476285bd;
                        // border: 1px solid #8897ac;
                    }
                }

                .toggle-dot {
                    text-decoration: none;
                    color: $font-color2;
                    height: 30px;
                    font-size: 30rem;
                    padding-bottom: 60px;
                    cursor: pointer;
                    // border: 1px solid white;
                }

                .fa-magnifying-glass {
                    padding: 5px 10px;
                    cursor: pointer;
                }

                .connect-wallet-btn {
                    border: 2px solid white;
                    border-radius: 10px;
                    padding: 10px;
                    text-decoration: none;
                    color: $font-color2;
                }

                .fa-bars {
                    font-size: 30rem;
                    display: none;
                    cursor: pointer;
                }
            }
        }

        main {
            padding: 50px 100px;
            color: $bg-color;

            .display-photo-section {
                border-radius: 20px;
                position: relative;
                height: 194px;
                width: 100%;
                color: $font-color;

                .cover-photo {
                    position: absolute;
                    border-radius: 20px;
                    height: 100%;
                    width: 100%;
                }

                .profile-img-info {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 20px;

                    .profile-left {
                        display: flex;
                        align-items: center;
                        // border: 1px solid white;

                        h1 {
                            font-size: 25rem;
                            font-weight: bold;
                        }

                        img {
                            border-radius: 50%;
                            border: 4px solid white;
                            margin-right: 20px;
                        }
                    }

                    .profile-right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // border: 1px solid white;
                    }
                }

                .black-background {
                    height: 100%;
                    position: relative;
                    border-radius: 20px;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.712));
                }
            }

            .followed {
                padding: 36px 0 24px;

                button {
                    border: 0;
                    padding: 10px 15px;
                    border-radius: 10px;
                    color: $bg-color;
                    background-color: #CDE2FE;
                    font-weight: 700;
                    font-family: $font-type;

                    i {
                        margin: 0 5px;
                    }
                }
            }

            .display-items {

                .onsale-group {
                    margin-bottom: 28px;
                    border-bottom: 2px solid $font-color2;
                    padding: 0;

                    button {
                        margin-right: 20px;
                        border: 0;
                        background-color: transparent;
                        font-family: $font-type;
                        font-size: 16rem;

                        &:hover {
                            color: #15152b;
                            font-weight: bold;
                        }
                    }
                }

                .sort-group {
                    display: flex;
                    justify-content: space-between;

                    button {
                        height: 48px;
                        background-color: white;
                        padding: 0 20px;
                        border-radius: 15px;
                        border: 1px solid #a6b8cf;
                        font-family: $font-type;
                    }

                    form {
                        width: 83%;
                        display: flex;
                        justify-content: space-between;

                        input {
                            height: 48px;
                            width: 459px;
                            background-color: white;
                            padding: 0 20px;
                            border-radius: 15px;
                            border: 1px solid #a6b8cf;
                            outline: 0;
                        }

                        #outside-select {
                            height: 48px;
                            background-color: white;
                            padding: 0 20px;
                            border-radius: 15px;
                            border: 1px solid #a6b8cf;
                            outline: 0;
                            font-family: $font-type;
                        }

                        .recent-sort {
                            position: relative;
                            height: 48px;
                            width: 240px;
                            background-color: white;
                            padding: 0 20px;
                            border-radius: 15px;
                            border: 1px solid #a6b8cf;
                            display: flex;
                            align-items: center;

                            select {
                                font-family: $font-type;
                                border: 0;
                                height: 45px;
                                background-color: white;
                                padding: 0 20px;
                                border-radius: 15px;
                                // border: 1px solid #a6b8cf;
                                position: absolute;
                                top: 0;
                                right: 0;
                                outline: 0;
                            }
                        }
                    }
                }

                .trending-nft {

                    .trending-nft-flex-container {
                        margin-top: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        width: 100%;

                        .trending-nft-flex-items {
                            margin-bottom: 30px;
                            flex-shrink: 0;
                            width: 244px;
                            padding: 10px;
                            background-color: $inside-flex-item-bg-color;
                            border-radius: 20px;

                            .trending-nft-img {
                                width: 224px;
                                height: 264px;
                                border-radius: 20px;
                            }

                            .collection-name {
                                p {
                                    color: $font-color2;
                                    font-size: 14rem;
                                }

                                h3 {
                                    font-size: 15rem;
                                }
                            }

                            .current-bid {
                                display: flex;
                                justify-content: space-between;
                                margin: 10px 0;
                                background-color: $main-bg-color;
                                border-radius: 10px;
                                padding: 10px;

                                p {
                                    color: $font-color2;
                                    font-size: 14rem;
                                }

                                h4 {
                                    font-size: 15rem;
                                }

                                h5 {
                                    color: $font-color2;
                                    font-size: 14rem;
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 996px) and (max-width: 1200px) {
    html {
        font-size: 1px;

        body {
            max-width: 1024x;
            font-size: 15rem;

            header {
                padding: 0 50px;
                height: 80px;

                nav {
                    width : 700px;

                    .connect-wallet-btn {
                        padding: 8px;
                    }
                    
                    .extra-dropdown {
                        .extra-dropdown-content {
                            top: 100px;
                            right: 150px;
                        }
    
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            #mobile-menu2 {
                height: 100vh;
                width: 300px;
                background-color: $main-bg-color;
                position: fixed;
                z-index: 29;
                right: 0;
                display: none;

                #close-btn {
                    font-size: 20rem;
                    color: red;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    .fa-close {
                        margin-right: 5px;
                    }
                }

                .mobile-menu-content {
                    padding-top: 30px;
                    list-style-type: none;

                    .mobile-menu-links {
                        font-size: 20rem;
                        text-decoration: none;
                        color: $font-color3;
                        width: 100%;
                        height: 70px;
                        padding: 5px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #476285bd;
                            color: white;
                        }

                    }

                    .dropdown {
                                cursor: pointer;

                                .dropdown-content{
                                    display: none;
                                    list-style: none;

                                    a{
                                        text-decoration: none;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $font-color3;
                                        width: 100%;

                                        i{
                                            margin-right: 15px;
                                        }

                                        &:hover {
                                            background-color: #476285bd;
                                            color: white;
                                        }
                                    }
                                }
                                .showMobmarket-dropdown{
                                    display: block;
                                }
                    }
                }
            }

            header {
                padding: 0 30px;
                height: 80px;

                nav {
                    // border: 1px solid white;
                    width: 250px;

                    .nav-list {
                        display: none;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }

                    .fa-bars {
                        display: block;
                    }

                    .extra-dropdown {
                        .extra-dropdown-content {
                            top: 100px;
                            right: 200px;
                        }
    
                    }
                }
            }

            main {
                padding: 50px 30px;
                color: $bg-color;

                .display-items {

                    .sort-group {
                        display: flex;
                        justify-content: space-between;

                        .f5-btn {
                            display: none;
                        }

                        button {
                            height: 40px;
                            padding: 0 8px;
                            border-radius: 10px;
                        }

                        form {
                            width: 90%;

                            input {
                                height: 40px;
                                border-radius: 10px;
                                width: 60%;
                            }

                            #outside-select {
                                height: 40px;
                                padding: 0 5px;
                                border-radius: 10px;
                            }

                            .recent-sort {
                                height: 40px;
                                width: 120px;
                                border-radius: 10px;
                                padding: 0 5px;

                                p {
                                    display: none;
                                }

                                select {
                                    height: 38px;
                                    padding: 0 5px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }

                    .trending-nft {

                        .trending-nft-flex-container {
                            justify-content: space-around;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 591px) and (max-width: 767px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            #overlay {
                padding: 0 50px;
            }

            #mobile-menu2 {
                height: 100vh;
                width: 300px;
                background-color: $main-bg-color;
                position: fixed;
                z-index: 29;
                right: 0;
                display: none;

                #close-btn {
                    font-size: 20rem;
                    color: red;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    .fa-close {
                        margin-right: 5px;
                    }
                }

                .mobile-menu-content {
                    padding-top: 30px;
                    list-style-type: none;

                    .mobile-menu-links {
                        font-size: 20rem;
                        text-decoration: none;
                        color: $font-color3;
                        width: 100%;
                        height: 70px;
                        padding: 5px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #476285bd;
                            color: white;
                        }

                    }

                    .dropdown {
                                cursor: pointer;

                                .dropdown-content{
                                    display: none;
                                    list-style: none;

                                    a{
                                        text-decoration: none;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $font-color3;
                                        width: 100%;

                                        i{
                                            margin-right: 15px;
                                        }

                                        &:hover {
                                            background-color: #476285bd;
                                            color: white;
                                        }
                                    }
                                }
                                .showMobmarket-dropdown{
                                    display: block;
                                }
                    }
                }
            }

            header {
                padding: 0 20px;
                height: 80px;

                nav {
                    // border: 1px solid white;
                    width: 250px;

                    .nav-list {
                        display: none;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }

                    .fa-bars {
                        display: block;
                    }

                    .extra-dropdown {
                        .extra-dropdown-content {
                            top: 100px;
                            right: 200px;
                        }
    
                    }
                }
            }

            main {
                padding: 20px;
                color: $bg-color;

                .display-photo-section {

                    .profile-img-info {

                        .profile-left {

                            h1 {
                                font-size: 20rem;
                            }

                            p {
                                font-size: 13rem;
                            }

                            img {
                                width: 70px;
                                height: 70px;
                                margin-right: 10px;
                            }
                        }

                        .profile-right {

                            p {
                                font-size: 13rem;
                            }
                        }
                    }

                    .black-background {
                        height: 100%;
                        position: relative;
                        border-radius: 20px;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.712));
                    }
                }

                .display-items {

                    .sort-group {
                        display: flex;
                        justify-content: space-between;

                        .f5-btn {
                            display: none;
                        }

                        button {
                            height: 35px;
                            padding: 0 2px;
                            border-radius: 10px;
                            font-size: 13rem;
                        }

                        form {
                            width: 90%;

                            input {
                                height: 35px;
                                border-radius: 10px;
                                width: 50%;
                                font-size: 13rem;
                                padding: 0 10px;
                            }

                            #outside-select {
                                height: 35px;
                                padding: 0 5px;
                                border-radius: 10px;
                                font-size: 13rem;
                            }

                            .recent-sort {
                                height: 35px;
                                width: 120px;
                                border-radius: 10px;
                                padding: 0 5px;

                                p {
                                    display: none;
                                }

                                select {
                                    font-size: 13rem;
                                    height: 33px;
                                    padding: 0 5px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }

                    .trending-nft {

                        .trending-nft-flex-container {
                            justify-content: space-around;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            #overlay{
                padding: 0 20px;
            }

            #mobile-menu2 {
                height: 100vh;
                width: 300px;
                background-color: $main-bg-color;
                position: fixed;
                z-index: 29;
                right: 0;
                display: none;

                #close-btn {
                    font-size: 20rem;
                    color: red;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    .fa-close {
                        margin-right: 5px;
                    }
                }

                .mobile-menu-content {
                    padding-top: 30px;
                    list-style-type: none;

                    .mobile-menu-links {
                        font-size: 20rem;
                        text-decoration: none;
                        color: $font-color3;
                        width: 100%;
                        height: 70px;
                        padding: 5px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #476285bd;
                            color: white;
                        }

                    }

                    .dropdown {
                                cursor: pointer;

                                .dropdown-content{
                                    display: none;
                                    list-style: none;

                                    a{
                                        text-decoration: none;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: $font-color3;
                                        width: 100%;

                                        i{
                                            margin-right: 15px;
                                        }

                                        &:hover {
                                            background-color: #476285bd;
                                            color: white;
                                        }
                                    }
                                }
                                .showMobmarket-dropdown{
                                    display: block;
                                }
                    }
                }
            }

            header {
                padding: 0 10px;
                height: 80px;

                nav {
                    // border: 1px solid white;
                    width: 250px;

                    .nav-list {
                        display: none;

                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }

                    .fa-bars {
                        display: block;
                    }

                    .extra-dropdown {
                        .extra-dropdown-content {
                            top: 100px;
                            right: 150px;
                        }
    
                    }
                }
            }

            main {
                padding: 10px;
                color: $bg-color;

                .display-photo-section {
                    height: 130px;

                    .profile-img-info {
                        padding:10px;

                        .profile-left {

                            h1 {
                                font-size: 18rem;
                            }

                            p {
                                font-size: 11rem;
                            }

                            img {
                                width: 55px;
                                height: 55px;
                                margin-right: 10px;
                            }
                        }

                        .profile-right {
                            display: none;
                            p {
                                font-size: 13rem;
                            }
                        }
                    }

                    .black-background {
                        height: 100%;
                        position: relative;
                        border-radius: 20px;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.712));
                    }
                }

                .followed{
                    padding: 20px 0 ;
                }

                .display-items {

                    .onsale-group {
                        display: none;
    
                    }

                    .sort-group {
                        display: flex;
                        justify-content: space-between;

                        .f5-btn {
                            display: none;
                        }

                        button {
                            height: 35px;
                            padding: 0 10px;
                            border-radius: 10px;
                            font-size: 13rem;
                        }

                        form {
                            width: 75%;

                            input {
                                height: 35px;
                                border-radius: 10px;
                                width: 50%;
                                font-size: 13rem;
                                padding: 0 10px;
                                display: none;
                            }

                            #outside-select {
                                height: 35px;
                                padding: 0 5px;
                                border-radius: 10px;
                                font-size: 13rem;
                            }

                            .recent-sort {
                                height: 35px;
                                width: 120px;
                                border-radius: 10px;
                                padding: 0 5px;

                                p {
                                    display: none;
                                }

                                select {
                                    font-size: 13rem;
                                    height: 33px;
                                    padding: 0 5px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }

                    .trending-nft {

                        .trending-nft-flex-container {
                            justify-content: space-around;

                            .trending-nft-flex-items{
                                width: 310px;

                                .trending-nft-img{
                                    width: 290px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}